@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.cdnfonts.com/css/qanelas-soft");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

body {
  position: relative;
  height: fit-content;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.menu,
.cover {
  background: url("./assets/bgDown.png"),
    radial-gradient(100% 100% at 50% 0%, #132647 26.42%, #070b1a 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

@layer components {
  .top-nav ul a {
    @apply ml-[20px] opacity-80 border px-5 py-2.5 rounded-[30px] border-solid border-white font-bold font-Qanelas text-[15px] leading-[19px] text-white;
  }
  .left-nav ul a {
    @apply relative overflow-hidden text-xl text-left leading-6 text-white font-Qanelas px-[30px] py-2.5;
  }
  .map li {
    @apply font-semibold text-[17px] leading-[145.3%] text-white;
  }

  /* .menu ul {
    @apply;
  } */
  .menu ul a {
    @apply block text-[1.2rem] vsm:text-[2rem] mb-[40px] font-Russo hover:text-[#816dfd] hover:duration-300;
  }

  .backers-wrap div {
    @apply w-[311px] overflow-hidden grid place-items-center;
  }
  .projects ul li {
    @apply text-lg leading-[21px] text-[#9685FF] cursor-pointer;
  }
  .projects ul li.active {
    @apply rounded-[9px] text-white p-[5px];
    background: linear-gradient(93.79deg, #6a52fb 3.11%, #9b8aff 96.17%);
  }
  table {
    @apply min-w-[800px] border-collapse;
  }
  thead tr {
    background: #1a2843;
    border-radius: 5px 5px 0px 0px;
  }
  tbody tr {
    @apply border-b-[1px] border-[#1A2843] bg-[#142036];
  }
  thead th,
  tbody td {
    @apply py-[17px] px-[10px] w-fit;
  }

  th,
  td {
    @apply text-right;
  }

  table .token-sec {
    background: rgba(152, 135, 255, 0.06);
  }

  .dex ul li {
    @apply font-semibold text-[15px] leading-[18px] text-[#CBDDFF] border px-2.5 py-1.5 rounded-[10px] border-solid border-[rgba(255,255,255,0.15)];
  }
  .dex ul li.active {
    @apply text-[#11213E] bg-[#00FFB2];
  }
  .dex .chart-label p {
    @apply text-xs leading-[14px] text-white;
  }
  .dex .connect-btn {
    background: linear-gradient(93.79deg, #6a52fb 3.11%, #9b8aff 96.17%);
  }
  .modal .tokens div {
    @apply flex items-center;
  }
  .modal .tokens div.active {
    @apply p-[5px] rounded-[11px] opacity-60;
  }
  .modal .tokens div p {
    @apply ml-[5px] text-[17px] leading-[21px] text-white;
  }
  .market .line {
    height: 7px;
    background: linear-gradient(
      90deg,
      #00ffb2 0%,
      rgba(0, 255, 178, 0.2) 26.04%,
      rgba(0, 255, 178, 0.05) 53.13%,
      rgba(0, 255, 178, 0.2) 77.08%,
      #00ffb2 100%
    );
    border: 3px solid;
    border-image-source: linear-gradient(
      90deg,
      #00ffb2 0%,
      rgba(0, 255, 178, 0.2) 26.04%,
      rgba(0, 255, 178, 0.05) 53.13%,
      rgba(0, 255, 178, 0.2) 77.08%,
      #00ffb2 100%
    );
  }
}

.tokens-wrap::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid orange;
}

.left-nav ul a::after {
  opacity: 0;
}
.left-nav ul a.active {
  color: #816dfd;
}
.left-nav ul a.active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    360deg,
    #816dfd -609.7%,
    rgba(129, 109, 253, 0) 58.96%
  );
  opacity: 1;
  transform: translateY(-100%);
  animation: sliding 0.5s linear forwards;
}
@keyframes sliding {
  to {
    transform: translateY(0%);
  }
}
.home button {
  background: linear-gradient(93.79deg, #6a52fb 3.11%, #9b8aff 96.17%);
}
.home button:hover {
  background: linear-gradient(93.79deg, #6a52fb 3.11%, #6a52fb 96.17%);
}
.current-loc {
  background: #00ffb2;
  box-shadow: 0px 1px 9px rgba(0, 255, 178, 0.71);
}
.offerBox {
  background: rgba(0, 0, 0, 0.15);
}

.questions button {
  background: linear-gradient(93.79deg, #6a52fb 3.11%, #9b8aff 96.17%);
}
.questions input {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 10px;
}

.top-nav a.active {
  background: linear-gradient(93.79deg, #6a52fb 3.11%, #9b8aff 96.17%);
}

.ido-main .blur-box {
  width: 273px;
  height: fit-content;
  background: rgba(12, 20, 41, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  position: absolute;
  right: 0px;
  top: 30px;
}
@media screen and (min-width: 768px) {
  .ido-main .blur-box {
    width: 273px;
    height: fit-content;
    background: rgba(12, 20, 41, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    position: absolute;
    right: -135px;
    top: 30px;
  }
}

.ido-main .blur-box button {
  padding: 15px 20px;
  background: linear-gradient(93.79deg, #6a52fb 3.11%, #9b8aff 96.17%);
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.ido-main .blur-box2 {
  background: rgba(12, 20, 41, 0.5);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.ido-main .blur-box2 button {
  padding: 15px 20px;
  background: linear-gradient(93.79deg, #6a52fb 3.11%, #9b8aff 96.17%);
  border-radius: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.projects .input-wrap {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

/* .menu .item-Parent {
  overflow: hidden;
  height: 50px;
}
.menu .item {
  transform-origin: left;
  transform: rotate(20deg);
  animation: move 1s linear forwards;
}
@keyframes move {
  to {
    transform: rotate(0deg);
  }
} */
